$font-family-roboto: "Roboto",
sans-serif;
$font-family--default: $font-family-roboto;

$white: #fff;
$black: #000;
$gray: #c7c7c7;
$red: #d24d57;
$blue: #3a539b;
$light-blue: #009bde;
$yellow: #f7ca18;
$green: #36d7b7;
$box-shadow:rgb(244, 67, 54);


$primary-color: $white;
$background-color: $black;
$border-color: $gray;
$color-text: $white;
$color-link: $blue;

$btn-red:#F44336;
$hover-green: #66bb6a;
$hover-blue: #03a9f4;

//Heading font size vairables
$heading-line-height: 28px !default;
$head1-font-size: 26px !default;
$head2-font-size: $head1-font-size - 4px !default;
$head3-font-size: $head1-font-size - 8px !default;



//Breakpoints
$sm-device: 425px;
$md-device: 768px;
$lg-device: 992px;
$xl-device: 1440px;