.main-body {
    position: absolute;
    margin: 0 auto;
    top: 610px;
    left: 10px;
    right: 10px;
    background: $primary-color;
    box-shadow: 0px 2px 24px rgba($background-color, 0.14), 0px 8px 10px rgba($background-color, 0.2);
    border-radius: 6px;
    padding-bottom: 79px;

    @include mq(md) {
        padding-bottom: 82px;
        top: 528px;
    }

    @include mq(xl) {
        padding-bottom: 80px;
    }

}

.body-title {
    margin-top: 94px;

    @include mq(xl) {
        margin-top: 95px;
    }

    h2 {


        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 36.4px;
        line-height: 43px;
        color: $h-color;
        text-align: center;
    }


}

.body-paragraph {
    margin-top: 38px;
    margin-left: 21px;
    margin-right: 16px;

    p {
        font-style: normal;
        font-weight: 300;
        font-size: 17.5px;
        line-height: 21px;

        text-align: center;
        color: $color-text--secondary;
    }

    @include mq(md) {

        margin-left: 13px;
        margin-right: 12px;
    }

    @include mq(xl) {

        margin-left: 331px;
        margin-right: 326px;
    }

}

// features scss 

// .features {
.features__first {

    margin-top: 162px;

    @include mq(xl) {
        float: left;
        margin-top: 161px;
        margin-left: 128px;
        // margin: 0 auto;

        .features__img {
            margin: 0 auto;
        }
    }




}

.features__second {
    margin-top: 108px;

    @include mq(xl) {
        float: left;
        margin-top: 161px;
        margin-left: 62px;

        .features__img {
            margin: 0 auto;
        }
    }
}

.features__third {
    margin-top: 110px;

    @include mq(xl) {
        float: left;
        margin-top: 161px;
        margin-left: 62px;

        .features__img {
            margin: 0 auto;
        }

    }
}



.features__img {
    margin-left: 168px;
    height: 70px;
    width: 70px;

    img {
        object-fit: cover;

    }

    @include mq(md) {
        margin-left: 342px;
    }

}


.features__title {
    margin-top: 31px;

    h3 {
        font-family: $font-family--default;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: $h-color;
    }
}

.features__paragraph {
    margin-top: 18px;
    text-align: center;

    p {
        width: 328px;
        height: 58px;
        font-family: $font-family--default;
        font-weight: 300;
        font-size: 13.9px;
        line-height: 16px;

        color: $color-text--secondary;

        @include mq(xl) {
            font-size: 14px;
            line-height: 16px;
        }
    }
}


// }