.footer {
    position: absolute;
    top: 4475px;
    margin-left: 30px;
    color: black;
    bottom: 0;


    ul {
        text-transform: uppercase;

        li {
            float: left;
            margin-right: 33px;

            a {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                text-align: center;

                color: #333333;

            }

        }

        li:last-child {
            margin-right: 0;
        }
    }
}

.footer__content {
    margin-top: 31px;
    margin-bottom: 18px;

    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;
    text-align: center;

    color: #000000;

}