.footer {
    position: absolute;
    top: 4475px;
    margin-left: 30px;
    color: $black;
    bottom: 0;

    @include mq(md) {
        top: 4034px;
        margin-left: 39px;
    }

    @include mq(xl) {
        top: 2767px;
        margin-left: 165px;

        div {
            display: inline-block;
            margin-bottom: 33px;
        }
    }


    ul {
        text-transform: uppercase;

        li {
            float: left;
            margin-right: 33px;

            a {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                text-align: center;

                color: $list-color;

            }

        }

        li:last-child {
            margin-right: 0;
        }
    }
}

.footer__content {
    margin-top: 31px;
    margin-bottom: 18px;

    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;
    text-align: center;

    color: $black;

    @include mq(md) {
        margin-top: 30px;
        margin-left: 270px;
    }

    @include mq(xl) {
        margin-left: 573px;
    }

}