.our-team__members {
    padding-left: 17px;
    padding-right: 16px;

    @include mq(md) {
        padding-left: 19px;
    }
}

.our-team__title {
    margin-top: 207px;

    @include mq(md) {
        margin-top: 208px;
    }

    h2 {
        font-family: $font-family--default;
        font-style: normal;
        font-weight: normal;
        font-size: 36.4px;
        text-align: center;


        color: #3C4858;

    }
}

.our-team__members--1 {
    margin-top: 86px;
}

.our-team__members--2 {
    margin-top: 19px;

    @include mq(md) {
        margin-top: 20px;
    }
}

.our-team__members--3 {
    margin-top: 21px;
}

.our-team__profile-img {
    overflow: hidden;
    width: 170px;
    height: 170px;

    margin-left: 99px;

    @include mq(md) {
        margin-left: 270px;
    }




    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
}

.our-team__name {
    margin-top: 32px;

    h3 {
        font-family: $font-family--default;
        font-style: normal;
        font-weight: 500;
        font-size: 18.2px;
        text-align: center;


        color: #3C4858;
    }
}

.our-team__position {
    margin-top: 7px;

    h5 {
        font-family: $font-family--default;
        font-style: normal;
        font-weight: 500;
        font-size: 13.65px;
        text-align: center;


        color: #777777;
    }
}

.our-team__description {
    margin-top: 34px;
    text-align: center;

    @include mq(md) {
        margin-top: 35px;
    }

    p {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 13.9px;
        line-height: 24px;
        text-align: center;

        color: #999999;
    }
}

.our-team__social-link {
    margin-top: 48px;
    text-align: center;

    @include mq(md) {
        margin-top: 22px;
    }

    ul {
        li {

            float: left;
            margin-right: 29px;

            img {
                height: 100%;
                width: 100%;

                color: #999999;
            }
        }

        li:last-child {
            margin-right: 0;
        }
    }
}